<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h1>Edit User</h1>

<a href="/user/allUser">List User</a>
<div>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/user/editUser/}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label>Name</label>
            <label>
                <input type="text" th:field="*{name}" />
            </label>
        </div>
        <div>
            <label>Email</label>
            <label>
                <input type="text" th:field="*{email}" />
            </label>
        </div>
        <div>
            <label>Phone</label>
            <label>
                <input type="text" th:field="*{phone}" />
            </label>
        </div>
        <div>
            <label></label>
            <label>
                <input type="submit" th:value="Save" />
            </label>
        </div>
    </form>
</div>

</body>
</html>